<section class="row" id="rest">
	<article class="subcontainer">
		<article class="col-md-6">
			<div class="service service-dark">
				<i class="glyphicon glyphicon-cutlery service-icon"></i>
				<div class="desc">
					<h2>Where?</h2>

					<% (1..5).each do |i| %>


					<div class="panel panel-default">
						<div class="panel-heading">
							Title

							<div class="btn-group" style="float: right">
							  <button type="button" class="btn btn-default" >
							  	<span class="glyphicon glyphicon-thumbs-up"></span>
							  </button>
							  <button type="button" class="btn btn-default">
							  	<span class="glyphicon glyphicon-thumbs-down"></span>
							  </button>
							</div>
						</div>
					</div>


<!--					<ul class="list-group">
					<% (1..5).each do |i| %>

					<li class="list-group-item" style="color:black">
						lel
					</li>

					<% end %>
					</ul>
-->

<!--					<label class="control-label spacingAround">{{ name<%= i %> }}</label>
					<div class="input-group spacingAround">
						<span class="input-group-addon glyphicon glyphicon-globe"></span>

						<input type="text" class="form-control letterSpacingFonts" placeholder="Restaurant URL" ng-model="restUrl<%= i %>" ng-change="fetch(restUrl<%= i %>, <%= i %>)"/>
					</div>
-->

					<% end %>

				</div>
			</div>	
		</article>
		<article class="col-md-6">
			<div class="service service-dark">
				<i class="glyphicon glyphicon-calendar service-icon"></i>
				<div class="desc">
					<h2>When?</h2>
					<% (1..3).each do |i| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							Title

							<div class="btn-group" style="float: right">
							  <button type="button" class="btn btn-default">Yes</button>
							  <button type="button" class="btn btn-default">No</button>
							  <button type="button" class="btn btn-default">Maybe</button>
							</div>
						</div>
					</div>
					<% end %>
					<input type="hidden" id="dtp_input4" value="" />
				</div>
			</div>	
		</article>
	</article>
</section>