<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1>Hello, <%= @event.organiser_name %></h1>
	<p>
	  To view voting Resutls &amp; stats goto the site, just follow this link: <a href="http://localhost:3000/result/<%= @event.id %>">http://localhost:3000/result/<%= @event.id %></a>.
	</p>
	<p>
	  Please do your voting before <%= @event.cutoff_at %>.
	</p>
	<p>Thanks for joining in and have a great day!</p>
  </body>
</html>