<tr bgcolor="#D83C33">
	<td width="5%">&nbsp;</td>
	<td bgcolor="#FFFFFF" style="padding: 20px;">
		<h1>Hello, <%= @user.email %></h1>
		<p>
			Your friend <%= @event.organiser_name %> is planning a hangout.<br />
			Help 'em decide when and where! To vote, click on 
			<%= link_to 'this', voting_url(:event_id => @event.unique_id, :vote_id => @user.unique_id) %><br />
		</p>
		<p>
			Voting ends on <%= @event.cutoff_at %>.
		</p>
		<p>
			The Table For Eight Team<br />
			Plan. Dine. Socialise.<br />
		</p>
	</td>
	<td width="5%">&nbsp;</td>
</tr>
