<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Table For Eight</title>
	<link rel="stylesheet" type="text/css" href="TF8_style.css">
</head>

<body>
	<div id="container">

		<div class="banner">
			<div class="banner_inner">

				<div id="logo">
					<img style="height: 100px; width: 100px" src="TableForEight_logo.png">
				</div>

				<h1>Table For Eight</h1>

				<nav>
					<a href="#">what?</a>
					<a href="#">who?</a>
					<a href="#">where?</a>
					<a href="#">when?</a>
				</nav>

			</div>
		</div>


		<div id="content">

			<div class="section_wrapper" id="what">
				<section>
					<p>What is Table For Eight?</p>
					<img style="height: 350px; width: 350px" src="logo_wireframe.png">
				</section>
			</div>

			<div class="section_wrapper" id="who">
				<section>
					<p>Who</p>
				</section>
			</div>

			<div class="section_wrapper" id="where">
				<section>
					<p>Where</p>
				</section>
			</div>

			<div class="section_wrapper" id="when">
				<section>
					<p>When</p>
				</section>
			</div>

			<div class="section_wrapper" id="invite">
				<section>
					<p>Invite</p>
				</section>
			</div>


			TableForEight
		</div>

	</div>

</body>


</html>