
            <main class="container">
            <section class="row" id="home">
                <article class="col-md-12">
                    <header>
                        <h2>Event </h2>
                    </header>
                </article>
            </section>
            <section class="row" id="rest">
                <article class="col-md-12">
                    <div class="service">
                        <i class="glyphicon glyphicon-glass service-icon"></i>
                        <div class="desc row">
                            <h4>Restaurant List</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ name1 }}: {{ link1 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="test(4)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ name2 }}: {{ link2 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="test(2)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ name3 }}: {{ link3 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="test(3)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ name4 }}: {{ link4 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="test(4)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ name5 }}: {{ link5 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="test(5)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>	
                </article>
            </section>
            <section class="row" id="rest">
                <article class="col-md-12">
                    <div class="service">
                        <i class="glyphicon glyphicon-glass service-icon"></i>
                        <div class="desc row">
                            <h4>Dates</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">{{ date1 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="slectdate(1)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ date2 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="slectdate(2)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label spacingAround">{{ date3 }}</label>
                                </div>
                                <div class="col-md-3">
                                    <span class="glyphicon glyphicon-thumbs-up">Test</span>
                                    <span class="glyphicon glyphicon-thumbs-down">Test</span>
                                </div>
                                <div class="col-md-3">
                                  <button type="button" class="btn btn-default" ng-click="slectdate(3)">
                                     <span class="glyphicon glyphicon-star"></span> Select
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>	
                </article>
            </section>
            <section class="row" id="invite">
                <article>
                    <div class="service">
                        <i class="glyphicon glyphicon-envelope service-icon"></i>
                        <div class="desc" ng-controller='inviteCtrl'>
                            <p>Selected Restaurant Name:  {{RestName}}</p>
                            <p>Selected Restaurant URL:  {{RestURL}}</p>
                            <p>Selected Date:  {{mainDate}}</p>
                            <button type="button" class="btn btn-default" ng-click="greet()">
                              <span class="glyphicon glyphicon-envelope"></span> Plan
                            </button>
                            <h3>{{ message }}</h3>
                        </div>
                    </div>
                </article>
            </section>
            </main>