      <main class="container">
			<section class="row" id="home">
				<article class="col-md-12">
					<header>
						<h2>Event Planner - Welcome!</h2>
					</header>
				</article>
			</section>
			</main><!--/Content-->