<table>
  <tr>
	<th>ID</th>
	<th>Text</th>
	<th>Organiser Email</th>
	<th> Name</th>
  </tr>
 
<% @events.each do |event| %>
  <tr>
	<td><%= event.id %></td>
	<td><%= event.cutoff_at %></td>
	<td><%= event.organiser_email %></td>
	<td><%= event.organiser_name %></td>
  </tr>
<% end %>
</table>