@font-face {
	font-family: cusBodyFont;
	src: url(font/muli_regular.ttf);
}
@font-face {
	font-family: cusTitleFont;
	src: url(font/timeburner_regular.ttf);
}

body{
	background-color: #D83C33;
	font-family: cusBodyFont;
	color: #FFF;
	overflow-x: hidden;
}
h1, h2, .title-font {
	font-family: cusTitleFont;
	font-weight: 600;
}
h1{
	text-align: center;
}
h3{
	color: #323232;
}

/**/
.subcontainer{
	padding: 15px;
	height: screen-height;
}

nav {
	font-family: cusTitleFont;
	opacity:0.95;
	filter:Alpha(opacity=95);
}
.nav{
	float: right;
}
.navbar-nav{
	padding-top: 8px;
}
.navbar{
	background-color: #323232;
	color: white;
}
.navbar-default .navbar-nav > li > a {
	color: #aaa;
	font-weight: bolder;
	margin: 0 0 0 20px;
	font-size: 1.2em;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	-webkit-transition:All 0.7s ease-in-out;
    -moz-transition:All 0.7s ease-in-out;
    -o-transition:All 0.7s ease-in-out;	
	outline:none;
	color: #FFF;
}
div.navbar-header{
	margin: 8px 22px;
}

.logo{
	height: 125px; width: 125px;
	border-radius: 100px;
	border-bottom: 1px solid white;
	float: left;
	position: relative;
	bottom: 10px;
	left: 10px;
	padding: 15px;
	background-color: #323232;
  	z-index: 1035;
}
main{
	margin: 8px 5px;
}
.spacingAround{
	margin: 4px 3px;
}
.cusorhand{
	cursor: pointer;
}
.headerimg{
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
	text-align:center;
}
.btn-float-right{
	float:right;
}

.result{
	margin-top: 10px;
	max-width: 650px;
	margin-left:auto;
	margin-right:auto;
}

.result-group{
	color: #D83C33;
}

.result-indiv{
	padding: 10px 0px 10px;	
	max-width: 500px;
}


/* @media Queries*/
/* Mobile Menu alterations */
@media only screen 
and (min-device-width: 1px) 
and (max-device-width: 767px) {
	.navbar-nav{
		float: left;
	}
	.navbar-nav > li > a:hover {
	-webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
     
    -webkit-transform: rotate(-2deg) scale(0.8);
    -moz-transform: rotate(-2deg) scale(0.8);
    -o-transform: rotate(-2deg) scale(0.8);
	border-radius: 20px;
	}
}

.colorDark{
	color: #666;
}
.lighter-background{
	color: #D83C33;
	background-color: white;	
	opacity:0.95;
	filter:Alpha(opacity=95);
}
.darker-background{
	color: #FBEAEA;
	background-color: #D83C33;	
	opacity:0.95;
	filter:Alpha(opacity=95);
}


.service {
	overflow: hidden; 
	margin-bottom: 10px;
	padding: 10px 10px 5px;
}
.service:hover {
	background: #FFF;
	box-shadow: 0 0 5px #D83C33;
	-webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}
.service:hover i {
	color: #D83C33;
}

.service .desc {
	padding: 0 15px; 
	overflow: hidden;
}
.service .desc h4 {
	font-size: 22px;
	line-height: 25px;
}

.service .service-icon {
	float: left;
	padding: 10px;
	color: #666;
	font-size: 30px;  
	text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.service .service-icon.icon-cogs {
	font-size: 37px;
}
.service .service-icon.icon-plane {
	font-size: 43px;
}

.service-icon {
	margin-top: 10px;
}

.service-dark {
	color: #FFF;
}
.service-dark:hover i {
	color: #FBEAEA;
}
.service-dark:hover {
	background:transparent;
	box-shadow: 0 0 5px #ccc;
	-webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}

.description {
	padding: 30px 0;
	margin-bottom: 30px;
	box-shadow: inset 0 0 4px #eee;
	background-color: #F4F7FF;
}
.description p {
	margin-bottom: 0;
}
.description span {
	color: #666;
	display: block;
	font-size: 28px;
	font-weight: 200;
	line-height: 35px;
	margin-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
}

.effects1{
	cursor: pointer;
	background-color: #EEF3FD;
	padding: 5px 20px; 
	width: 200px;
	border: 1px solid #333;
	border-radius: 18px;
	box-shadow: 10px 5px 5px #999;
}

div.effects2{
	background:url(iphone1.png),url(3.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	width: 100px;
	height: 100px;
}

.gradient{
	color:#FFF; 
	background: -webkit-linear-gradient( #EEF2F0, #EAF0FF);
	background: -o-linear-gradient(#EEF2F0, #EAF0FF);
	background: -moz-linear-gradient(#EEF2F0, #EAF0FF); 
	background: linear-gradient(#EEF2F0, #EAF0FF); 
}

.cusFONTS{
	font-family: cusFont;
}

div#styling2d{
	-ms-transform: skew(30deg,20deg); /* IE 9 */
	-webkit-transform: skew(30deg,20deg); /* Chrome, Safari, Opera */
	transform: skew(30deg,20deg);
}

.cusTransitions
{
	width:200px;
	height:300px;
	-webkit-transition:height 3s; 
	transition:height 3s;
}

.cusTransitions:hover
{
	height:100px;
}


.animiFrame{
	width:500px;
	height:500px;
}

.animate{
	width:100px;
	height:100px;
	background:red;
	position:relative;
	-webkit-animation:CustomAnimation 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
	animation:CustomAnimation 5s linear 2s infinite alternate;
}
	
/* Chrome, Safari, Opera */
@-webkit-keyframes CustomAnimation
{
	0%   {background:red; left:0px; top:0px;}
	25%  {background:yellow; left:200px; top:0px;}
	50%  {background:blue; left:200px; top:200px;}
	75%  {background:green; left:0px; top:200px;}
	100% {background:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes CustomAnimation
{
	0%   {background:red; left:0px; top:0px;}
	25%  {background:yellow; left:200px; top:0px;}
	50%  {background:blue; left:200px; top:200px;}
	75%  {background:green; left:0px; top:200px;}
	100% {background:red; left:0px; top:0px;}
}

.columnising{
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
}

div#effectsDrop{
	width: 500px;
	height: 200px;
}
div#tserver{
	margin-top: 20px;
}

footer{
	background-color:#333;
	color:#fff;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}


#num-list {
	counter-reset: list-count;
	font-family: cusTitleFont;
}
#num-list dt {
	position: relative;
	padding-left: 40px;
	font-weight: bold;
	color: #323232;
}
#num-list dt:before {
	content: counter(list-count);
	counter-increment: list-count;
	position: absolute;
	left: 0;
	top: 0;

	font-size: 30px;
	font-weight: bold;
}
#num-list dd {
	padding-left: 40px;
	font-family: cusBodyFont;
	font-weight: normal;
	margin-bottom: 10px;
}

.img-background {
	background:url("restaurant-img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -20px;
	left: 0;
	opacity: 0.9;
}

.logo-padding {
	margin: 130px auto 30px auto;
	padding: auto 50px auto 50px;
}

.offset {
	padding-top: 90px;
}

.desc {
	min-height: 200px;
}

.dynamic-height {
	min-height: 75vh;
}

.center-section {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.popover{
	color: #333;
}
.dark-text{
	color: #323232;
}
.light-text {
	color: white;
}


@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 100%;
	}
}

/*
.img-background {
	background-size: cover;
	background-image: "/assts/restaurant-img.jpg"
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: -20px;
	left: 0;
	opacity: 0.9;
	margin: auto;
}*/



.test {
	border: 10px solid gray;
}
