<main class="container">
	<div id="eventRefresh">
    	<!-- HOME HEADER SECTION -->
		<section class="row" id="home">
			<div class="img-background "></div>
			<article class="col-md-4 headerimg">
				<%= image_tag("Table-For-Eight-logo.png", :class => "img-responsive headerimg logo-padding") %>
				<header>
					<h1>Plan. Dine. Socialise. </h1>
					<br />
				</header>
			</article>
		</section>
    	<!-- WHAT IS TABLE 4 EIGHT -->
		<section class="row offset darker-background" id="what">
			<article class="center-section dynamic-height">
				<h2>
					<i class="glyphicon glyphicon-info-sign service-icon"></i> What?
				</h2>

				<h3>What is <span class="title-font">Table For Eight?</span></h3>
				<p>
					Table For Eight is an interactive app that takes the hassle and stress out of planning a dining experience with your mates.
					Invite your friends, and they'll help you plan this out by voting their preferences later.
				</p>
				<br />
				<p>
					Sounds good? So how do I start? Just follow these <span class="title-font">3</span> simple steps:
					<dl id="num-list">
						<dt>Who?</dt>
						<dd>Friends! Who do you want to come? Add 'em to the guest list.
						Oh, and don't forget to tell them who you are!</dd>
						<dt>Where?</dt>
						<dd>Let's choose where to eat! List up to five restaurants.</dd>
						<dt>When?</dt>
						<dd>Sunday brunch, weekday lunch, or Friday dinner? Select up to three dates.</dd>
					</dl>
				</p>
			</article>
		</section>
	</div>
</main>
